<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="../static/stylesheets/style.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
	<link rel="icon" href="../static/images/icon.png">

	<title>Admin</title>
</head>

<body>
	<div class="header">
		<div class="leftHeader"></div>
		<div class="centerHeader">Tarchous</div>
		<div class="rightHeader"></div>
	</div>

	<div class="admin_forms">
		<div class="addition_form">
			<form action="/add_product" method="post" class="addition_form_itself">
				<label for="fname">Название:</label>
				<input type="text" id="name" name="name"><br><br>
				<label for="lname">Описание:</label>
				<input type="text" id="description" name="description"><br><br>
				<label for="lname">Цена:</label>
				<input type="text" id="cost" name="cost"><br><br>
				<input type="submit" value="Добавить">
			</form>
		</div>
		<div class="deletion_form">
			<form action="/delete_product" method="delete" class="deletion_form_itself">
				<label for="fname">Название:</label>
				<input type="text" id="name" name="name"><br><br>
				<input type="submit" value="Удалить">
			</form>
		</div>
	</div>


</body>

</html>