<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/style.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

	<title>Gummy</title>
</head>

<body>
	<div class="header">
		<div class="leftHeader">haha</div>
		<div class="centerHeader">Tarchous</div>
		<div class="rightHeader"><a href="#">чучук</a></div>
	</div>
	<div class="products">
		<div class="card">
			<img src="images/coockies.png" alt="Denim Jeans" style="width:100%">
			<h1>Coockies</h1>
			<p class="price">$19.99</p>
			<p>Homemade ones</p>
			<p><button>Add to Cart</button></p>
		</div>
		<div class="product">
			<div class="product_image">
				<img class="product_image_itself" src="images/coockies.png" alt="Gummy" srcset="">
			</div>
			<div class="product_description">
				Gummy
			</div>
		</div>
		<div class="product">
			<div class="product_image">
				<img class="product_image_itself" src="images/coockies.png" alt="Gummy" srcset="">
			</div>
			<div class="product_description">
				Gummy
			</div>
		</div>
		<div class="product">
			<div class="product_image">
				<img class="product_image_itself" src="images/coockies.png" alt="Gummy" srcset="">
			</div>
			<div class="product_description">
				Gummy
			</div>
		</div>
		<div class="product">
			<div class="product_image">
				<img class="product_image_itself" src="images/coockies.png" alt="Gummy" srcset="">
			</div>
			<div class="product_description">
				Gummy
			</div>
		</div>
	</div>
</body>

</html>