<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/stylesheets/style.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
	<link rel="icon" href="../static/images/icon.png">

	<title>Gummy</title>
</head>

<body>
	<div class="header">
		<div class="leftHeader"></div>
		<div class="centerHeader">Мармелад</div>
		<div class="rightHeader"><a href="/templates/cart.html">Корзина</a></div>
	</div>
	<div class="products">
		{{if .}}
		{{range .Data}}
		<div class="card" style="width: 250px;">
			<img src="../static/images/{{.Name}}.png" al="Food" style="height: 200px;">
			<div class="product_description">
				<h1>{{.Name}}</h1>
				<p class="price">{{.Cost}} сом</p>
				<p>{{.Description}}</p>
				<p><button action="/add-to-cart">Добавить в корзину</button></p>
			</div>

		</div>
		{{end}}
		{{end}}
</body>

</html>