<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/style.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">

	<title>Gummy</title>
</head>

<body>
	<div class="header">
		<div class="leftHeader">haha</div>
		<div class="centerHeader">Tarchous</div>
		<div class="rightHeader"><a href="#">Cart</a></div>
	</div>
	<div class="products">
		{{if .}}
		{{range .Data}}
		<div class="card">
			<img src="images/coockies.png" al="Food" style="width:100%">
			<h1>{{.ID}}</h1>
			<p class="price">{{.Name}}</p>
			<p>{{.Cost}}</p>
			<p><button action="/add-to-cart">Add to Cart</button></p>
		</div>
		{{end}}
		{{end}}


	</div>
</body>

</html>